.searchbar-container {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.serchbar-input,
.searchbar-select {
    height: 100%;
    padding: 7px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--dark-gray);
    color: var(--white);
    font-size: 16px;
}

.serchbar-input {
    width: 400px;
}

.searchbar-select {
    width: 150px;
}