.navbar-container {
    background-color: var(--black);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
}

.navlinks {
    display: flex;
    gap: 60px;
    align-items: center;
}

.navlinks div {
    display: flex;
    gap: 20px;
}

.navlink {
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
}

.navlink:hover {
    color: var(--yellow);
}

.navbar-logo {
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
    text-decoration: none;
    color: var(--white);
}

.navbar-logo-highlight {
    color: var(--yellow);
}

@media screen and (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .navlinks {
        width: 100%;
        justify-content: space-between;
    }
}