:root {
    --dark-gray: #282a2d;
    --light-gray: #ffffffcc;
    --caption-color: #ffffff99;
    --hover-color: #575b61;
    --black: #000;
    --white: #fff;
    --yellow: #e5a00d;
}

* {
    padding: 0;
    margin: 0;
    font-family: "IBM Plex Sans Condensed", sans-serif;;
}

body {
    background-color: var(--dark-gray);
    color: var(--white);
}

.feedback-container {
    position: relative;
    height: 90vh;
}

.page-body {
    display: grid;
    grid-template-columns: 17% 83%;
    height: 91vh;
    overflow: hidden;
}

.header {
    width: 100%;
    padding-top: 5px;
    padding-left: 2rem;
}

.header h1 {
    font-weight: 900;
}

.movies-section {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1rem;
    row-gap: 1.5rem;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 840px) {
    .page-body {
        grid-template-columns: 1fr;
    }

    .movies-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .movies-grid {
        grid-template-columns: 1fr;
    }
}